* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Special Elite', cursive;
}

body {
    background-color: black;
    color: white;
}

/* Positions the video in the background, taking up the full width and height of the page. */
#bg-video {
    position: absolute;
    opacity: 33%;
    z-index: -5;
    height: 100%;
    width: 100%;
    object-fit: fill;
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#title {
    font-size: 6rem;
    text-align: center;
}

i {
    color: white;
    font-size: 2rem;
}

nav ul {
    padding: 2rem 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav ul li {
    list-style-type: none;
    font-size: 2rem;
}

#start {
    margin-top: 2rem;
    font-size: 2rem;
    text-align: center;
    cursor: pointer;
}

/* Shows which elements are interactive. */
li:hover,
.fa-solid:hover {
    animation: none;
    color: gray;
    cursor: pointer;
}

.fade-in {
    animation: fade-in;
    animation-fill-mode: forwards;
    animation-duration: 1.5s;
}

.fade-out {
    animation: fade-out;
    animation-fill-mode: forwards;
    animation-duration: 1.5s;
}

.fade-in-out {
    animation: fade-in-out;
    animation-fill-mode: forwards;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

/* Creates a slow pulsing effect for the start section of the title page. */
@keyframes fade-in-out {
    0% {
        color: white;
    }

    25% {
        color: rgb(70, 70, 70);
    }

    50% {
        color: white;
    }

    75% {
        color: rgb(70, 70, 70);
    }

    100% {
        color: white;
    }
}

/* Fades the title page's main content until it is no longer visible. */
@keyframes fade-out {
    0% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}