* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Special Elite', cursive;
}

body {
    background-color: black;
    color: white;
}

h1 {
    margin: 2rem auto;
    text-align: center;
    font-size: 4rem;
}

nav ul {
    margin: 2rem 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav ul li {
    list-style-type: none;
    font-size: 2rem;
}